
@keyframes removedItem {
  from {
    transform: scale(1, 1);
    transform-origin: center;
    opacity: 1;
  }
  to {
    transform: scale(0, 0);
    opacity: 0;
  }
}
.shopping-cart {
  width: 90%;
  max-width: 50em;
  margin: 4em auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  border: 1px solid #E1E8EE;
}

.title {
  border-bottom: 1px solid #E1E8EE;
  padding: 1.5em 2em;
  color: #5E6977;
  font-size: 1.3em;
  font-weight: 400;
}

.item {
  overflow: hidden;
  padding: 1.5em 2em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E1E8EE;
  transition: 0.5s ease;
}

.item div.item-info-div {
  display: flex;
  align-items: center;
  flex: 1 0 80%;
  justify-content: space-evenly;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  margin-right: 1em;
}
.delete-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1.3em;
  transition: 0.2s ease;
}
.delete-btn:hover {
  color: black;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}



/* Product Image */
.image {
  flex: 1 0 20%;
  min-width: 100px;
  max-width: 10em;
  margin-left: 2em;
  margin-right: 5%;
}
.image img {
  max-width: 100%;
}

/* Product Description */
.description {
  flex: 1 0 20%;
  margin-right: 2em;
}
.description span {
  display: block;
  font-size: 0.8em;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 0.5em;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 0.3em;
  color: #86939E;
}

/* Product Quantity */
.quantity {
  flex: 1 0 3em;
  margin-right: 1em;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 3em;
  padding: 0.5em 0.1em;
  font-size: 0.9em;
  color: #43484D;
  font-weight: 300;
  background-color: #eee;
  border-radius: 5px;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.total-price {
  margin-right: 10%;
  font-size: 0.9em;
  color: #43484D;
  font-weight: 300;
}

.cart-total {
  margin: 0 auto;
  width: 90%;
  max-width: 50em;
  text-align: end;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 0.5em;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

/* Responsive */
@media (max-width: 60em) {
  .shopping-cart {
    width: 100%;
  }
  .item {
    display: block;
    text-align: center;
    height: auto;
    padding: 0.5em;
  }
  .item div.item-info-div {
    max-width: 100%;
    display: block;
    flex: none;
    text-align: center;
  }
  .item div.item-info-div > * {
    display: block;
    margin: 0.5em auto;
  }
  .item div.item-info-div div.image {
    margin: 1em auto;
    max-width: 100%;
  }
  .item div.item-info-div div.image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
  }
  .buttons {
    margin-right: 0;
  }
}
