/*homepage title div styling*/
#titleHome {
  position: relative;
  width: 100%;
  background-image: url('media/laptop_background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding: 30vh 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#titleHome * {
  position: relative;
  z-index: 1;
}
#titleHome h1 {
  font-size: 4em;
}
#titleHome::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
@media (max-width: 30em) {
  #titleHome h1 {
    font-size: 2em;
  }
}

/*catchphrase after title screen*/
#catchphrase {
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
#catchphrase::after {
  display: none;
}

/*statistics styling*/
#statsHome {
  text-align: center;
}
.stats {
  margin: 1.2em auto;
}
.stats i.material-icons {
  display: inline;
  color: #1155cc;
  font-size: 4em;
  vertical-align: middle;
  margin-right: 0.7em;
}
.stats p {
  display: inline;
  margin-top: 0;
}
.stats .statNumber {
  color: #1155cc;
  font-weight: bold;
  font-size: 1.7em;
  margin-right: 0.5em;
}
@media (max-width: 40em){
  .stats {
    text-align: center;
    margin: 1.7em auto;
  }
  .stats .statNumber {
    margin-right: 0.2em;
  }
  .stats i.material-icons {
    display: block;
    margin-right: 0;
  }
}
@media (min-width: 60em){
  #statsHome {
    margin: 2em auto;
    display: flex;
    justify-content: center;
  }
  .stats {
    flex: 1 120px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }
  .stats:last-of-type {
    border-right: none;
  }
  .stats .statNumber {
    display: block;
  }
  .stats i.material-icons {
    display: block;
    font-size: 5em;
    margin-right: 0;
    margin-bottom: 0.3em;
  }
}


/*products (platform) styling*/
.productDiv {
  margin: 4em 0;
  text-align: center;
}
.productDiv .productContent p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.productDiv .productContent h3 {
  position: relative;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.productDiv .productImg {
  position: relative;
  width: 70%;
  margin: 5em auto;
  margin-bottom: 2.5em;
}
.productDiv .productImg img {
  position: relative;
  z-index: 1;
  width: 100%;
  box-shadow: 1em 1em rgba(255, 255, 255, 0.3);
}
.productDiv .productImg::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1em;
  left: -1em;
  box-sizing: border-box;
  border: 0.5em solid rgba(255, 255, 255, 0.3);
  z-index: 0;
}

/*accounting for larger displays in products*/
@media (min-width: 60em) {
  .productDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 0;
    min-height: 70vh;
    text-align: left;
  }
  .productDiv:nth-of-type(2n + 1){
    flex-direction: row-reverse;
  }
  .productDiv:nth-of-type(2n + 1) .productImg {
    margin-right: 0;
    margin-left: 4em;
  }
  .productDiv .productImg {
    flex-grow: 0;
    margin-right: 4em;
    width: 50%;
  }
  .productDiv .productContent {
    width: 50%;
  }

  /*product image styling*/
  .productDiv .productImg img {
    box-shadow: none;
  }
  .productDiv .productImg::before, .productDiv .productImg::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    box-sizing: border-box;
    border: 1em solid rgba(255, 255, 255, 0.3);
  }
  .productDiv .productImg::before {
    transform: translate(-2em, -2em);
  }
  .productDiv .productImg::after {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(2em, 2em);
    z-index: 0;
  }
  .productDiv:nth-of-type(2n) .productImg::before {
    transform: translate(2em, 2em);
  }
  .productDiv:nth-of-type(2n) .productImg::after {
    transform: translate(-2em, -2em);
  }

  /*product h3 styling*/
  .productDiv .productContent h3::before, .productDiv .productContent h3::after {
    content: "";
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    top: -3em;
    left: -3em;
    box-sizing: border-box;
    border: 8px solid rgba(255, 255, 255, 0.3);
  }
  .productDiv .productContent h3::after {
    width: 1.2em;
    height: 1.2em;
    top: -1.75em;
    left: -1.75em;
    border-width: 4px;
  }
  .productDiv:nth-of-type(2n) .productContent h3::before {
    left: 100%;
  }
  .productDiv:nth-of-type(2n) .productContent h3::after {
    left: calc(100% - 0.42em);
  }
}


/*home medication div styling*/
[data-aos = "homeMedFade"] { 
  opacity: 0;
  transform: translateX(8em);
}
[data-aos = "homeMedFade"].aos-animate {
  opacity: 1;
  transform: translateX(0);
}
[data-aos = "homeMedFade"] i.material-icons {
  transform: scale(0, 0);
  transition: 0.4s 0.2s;
}
[data-aos = "homeMedFade"].aos-animate i.material-icons {
  transform: scale(1, 1);
}
#home-medications {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}
#home-medications img {
  flex: 1 0 50%;
  margin-right: 2em;
}
#home-medications div div {
  display: flex;
  align-items: center;
  flex-basis: auto;
  max-width: 100%;
  margin-left: 1em;
}
#home-medications div div p {
  margin-left: 0;
  margin-right: 0;
  display: inline;
}
#home-medications div div i.material-icons {
  position: relative;
  flex: none;
  font-size: 2.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  color:rgba(7, 55, 99, 0.7);
  pointer-events: none;
}
#home-medications div div i.material-icons::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%) scale(1.45);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
  box-shadow: 0em 0.05em rgba(7, 55, 99, 0.4);
}
@media (max-width: 70em) {
  #home-medications {
    display: block;
  }
  #home-medications div div {
    justify-content: center;
    margin-left: 0;
  }
  #home-medications img {
    float: none;
    margin-right: 0;
    width: 100%;
    max-width: none;
  }
}

/*home newspage styling*/
body[data-aos-duration = "501"] [data-aos = "news-fade-up"], [data-aos = "news-fade-up"][data-aos = "news-fade-up"][data-aos-duration = "501"] {
  opacity: 0;
  transform: translateY(8em);
  transition: box-shadow 0.2s,
  transform 0.8s,
  opacity 0.8s;
}
body[data-aos-duration = "501"] [data-aos = "news-fade-up"].aos-animate, [data-aos = "news-fade-up"][data-aos = "news-fade-up"][data-aos-duration = "501"].aos-animate {
  opacity: 1;
  transform: translateY(0);
}
#homeNews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;
}
#homeNews .home-news-container {
  flex: 1 300px;
  margin: 1em;
  box-shadow: 0 2px 15px gray;
  overflow: hidden;
  border-radius: 7px;
}
#homeNews .home-news-container .home-news-content {
  padding: 0 1em 5em 1em;
}
#homeNews .home-news-container .home-news-img {
  width: 100%;
  padding-bottom: 67%;
}
#homeNews .home-news-container .home-news-label {
  margin: 0.7em 0;
  font-size: 0.9em;
  text-transform: uppercase;
}
#homeNews .home-news-container h3 {
  margin-top: 0.5em;
  font-size: 1.3em;
  margin-bottom: 0;
}
#homeNews .home-news-container h3 a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}
#homeNews .home-news-container:hover {
  box-shadow: 0 2px 25px gray;
}
#homeNews .home-news-container:hover a:hover {
  color: #1155cc;
}
#homeNews .home-news-container h3 + p {
  margin-top: 0.5em;
  font-size: 0.9em;
}

/*testimonials styling*/
#testimonials .testimonial {
  margin-bottom: 4.5em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#testimonials .testimonial:last-of-type {
  margin-bottom: 0;
}

/*testimonial quote + person styling*/
#testimonials blockquote::before {
  content: "\201C";
  position: absolute;
  top: -0.25em;
  left: -0.2em;
  z-index: 0;
  color: #073763;
  opacity: 0.2;
  font-size: 8em;
  font-style: italic;
  font-family: "Georgia", "Times New Roman", "Times", serif;
}
#testimonials .testimonial blockquote {
  position: relative;
  font-size: 1.1em;
  text-align: left;
  color: black;
}
#testimonials .testimonial .testimonial-person::before {
  content: "- "
}
#testimonials .testimonial .testimonial-person {
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
}

/*positioning and styling image in testimonial*/
#testimonials .testimonial div {
  flex: 120px;
}
#testimonials .testimonial img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 15px 7px rgba(7, 55, 99, 0.2);
  transform: scale(1);
  transition: 0.3s ease;
}
#testimonials .testimonial .testimonial-img-cont {
  align-self: center;
  position: relative;
  flex-grow: 0;
  width: 120px;
  height: 120px;
  text-align: center;
}
#testimonials .testimonial img:hover {
  transform: scale(1.05);
  box-shadow: 20px 15px rgba(7, 55, 99, 0.2);
}
#testimonials .testimonial > * {
  align-self: stretch;
  max-width: 100%; /*IE width fix*/
}

/*responsive testimonial design*/
@media (max-width: 40em){
  #testimonials .testimonial {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  #testimonials .testimonial .testimonial-img-cont {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.7em;
  }
}
@media (min-width: 70em){
  #testimonials #testimonial-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #testimonials .testimonial {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    border-right: 1px solid rgba(7, 55, 99, 0.2);
  }
  #testimonials .testimonial:last-of-type {
    margin-bottom: 4.5em;
    border-right: none;
  }
  #testimonials .testimonial div {
    margin-bottom: 1em;
    flex-basis: auto; /*IE height fix*/
    flex-grow: 1;
  }
  #testimonials .testimonial .testimonial-img-cont {
    flex: none;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  #testimonials blockquote::before {
    top: 0em;
    left: -0.25em;
  }
}

/*get started banner*/
#homeGetStarted {
  position: relative;
  width: 100%;
  background-image: url('media/fold_blue_background.jpg');
  background-attachment: relative;
  background-size: cover;
  background-position: center center;
  padding-top: 6em;
  padding-bottom: 6em;
}
#homeGetStarted * {
  position: relative;
  z-index: 1;
}
#homeGetStarted h2 {
  color: white;
  margin-bottom: 2em;
}
#homeGetStarted h2::after {
  display: none;
}
#homeGetStarted::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(30deg, rgba(7, 55, 99, 0.2), rgba(7, 55, 99, 0.4));
  z-index: 0;
}
#homeGetStarted div {
  text-align: center;
}
#homeGetStarted div button {
  display: inline;
  margin: 1em 3em;
}