/**LOGIN MODULE PAGE**/
/*styling navbar to make it more opaque*/
.navbar.light a.dropdown-top + div > ul.dropdown {
  z-index: 40;
  background: rgba(245, 245, 245, 0.95);
  box-shadow: 0 10px 50px rgb(245, 245, 245, 0.4);
}
.navbar.light a.dropdown-top + div > ul.dropdown a {
  color: gray;
}
.navbar.light a.dropdown-top + div > ul.dropdown a::after {
  background-color: black;
}
.navbar.light a.dropdown-top + div > ul.dropdown a:hover {
  color: black;
}
.navbar.light a.dropdown-top + div > ul.dropdown::before {
  border-bottom-color: rgba(245, 245, 245, 0.95)
}

/*login page*/
#loginBack {
    background: linear-gradient(30deg, rgb(35, 138, 163), #0d3a8a);
    padding: 10em 10%;
}
#loginModule {
    padding: 5.5em 5em;
    background: white;
    border-radius: 7px;
    max-width: 40em;
    margin: 0 auto;
    display: block;
    text-align: center;
}
#loginModule h1 {
    margin-top: 1em;
    margin-bottom: 2em;
}
#loginModule form {
    max-width: 30em;
    margin: 0 auto;
}
#loginModule input, #loginModule button {
    display: block;
    width: 100%;
}
#loginModule .input-container {
    position: relative;
}
#loginModule .input-container i.material-icons {
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 0;
    vertical-align: middle;
    transform: translateY(-50%);
    color: gray;
    transition: 0.3s ease;
}
#loginModule input {
    margin-top: 2em;
    position: relative;
    padding: 0.75em 0em;
    padding-left: 2em;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);
    font-size: 1em;
    vertical-align: middle;
    box-sizing: border-box;
    transition: 0.3s ease;
}
#loginModule input:focus {
    border-bottom-color: #1155cc;
}
#loginModule input:focus + i.material-icons {
    color: #1155cc;
}
#loginModule span {
    display: block;
    text-align: left;
    line-height: 1.1em;
    font-size: 0.9em;
}
#loginModule #loginNote {
    margin-top: 3em;
    color: gray;
}
#loginModule #loginError {
    margin-top: 1em;
    color: rgb(199, 31, 31);
}
#loginModule button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 0.75em 4em;
    background: #1155cc;
    color: white;
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 2em;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0);
    transition: 0.2s ease;
}
#loginModule button:hover {
    cursor: pointer;
    background: #0d3a8a;
    box-shadow: 0 0.3em 1em rgb(0, 0, 0, 0.3);
}

/*changing navbar styling (top) in account pages*/
nav.navbar.account-topNav, nav.navbar.account-topNav.scrolledDown {
    position: sticky;
    top: 0;
    /*width: calc(100% - 15em);
    margin-left: 15em;
    box-sizing: border-box;*/
    box-shadow: 0 0.2em 1em rgba(7, 55, 99, 0.3);
}

/*general account page navbar*/
body {
    position: relative; /*for position absolute on sidebar when height is small*/
}
nav.sidebar {
    background: rgba(7, 55, 99);
    /*background: rgb(35, 138, 163);*/
    color: white;
    height: 100vh;
    padding: 6em 0;
    padding-top: calc(4em + 5vh);
    width: 15em;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 2;
    font-family: "Comfortaa";
}
nav.sidebar ul {
    margin: 0;
    padding-inline-start: 0;
}
nav.sidebar ul li {
    position: relative;
    display: block;
    list-style: none;
    margin: 0.5em 0;
    padding: 0.75em 2em;
    padding: calc(0.25em + 1vh) 2em;
}
nav.sidebar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
nav.sidebar ul li i.material-icons {
    font-size: 1.7em;
    vertical-align: middle;
    margin-right: 0.5em;
}
nav.sidebar ul li a {
    transition: 0.2s ease;
}
nav.sidebar ul li a:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
nav.sidebar ul li a:hover::after {
    opacity: 0.4;
}
nav.sidebar ul li.nav-active {
    background: rgba(245, 245, 245, 0.1);
    pointer-events: none;
}
nav.sidebar ul li.nav-active a {
    color: white;
}
nav.sidebar ul a::after {
    position: absolute;
    display: block;
    content: "";
    width: 4px;
    height: 100%;
    background: white;
    border-radius: 0 10px 10px 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s ease;
}
nav.sidebar ul li.nav-active a::after {
    opacity: 1;
}
nav.sidebar ul li:last-of-type {
    margin-top: 3.5em;
    margin-top: calc(1em + 10vh);
}
nav.sidebar ul li:last-of-type::before {
    position: absolute;
    display: block;
    content: "";
    width: calc(100% - 4em);
    height: 1px;
    background: white;
    left: 2em;
    top: -1em;
    top: calc(-0.5em - 1vh);
}
/*making scrollable with small height*/
@media (max-height: 35em) {
    nav.sidebar {
        position: absolute;
        height: 100%;
        top: 0;
    }
}

/*general account page styling*/
.pageHeading, .account-content {
    background: rgb(239, 242, 247);
}
.pageHeading {
    padding-top: 2em;
    padding-bottom: 1em;
}
.account-content h1, .account-content h2, .account-content h3, .account-content h4, .account-content h5, .account-content h6 {
    color: rgb(7, 55, 99);
}
.account-content {
    margin-left: 15em;
    padding: 1em 1em;
}
button.accountButton {
    position: relative;
    background: #1155cc;
    color: white;
    padding: 0.5em 2em;
    font-size: 1em;
    border-radius: 2em;
    border: 1px solid #1155cc;
    outline: none;
    box-shadow: 0 0.25em 1em rgba(7, 55, 99, 0);
    transition: 0.2s ease;
}
button.accountButton.grayedout {
    pointer-events: none;
}
button.grayedout::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: rgba(155, 155, 155, 0.6);
    width: 100%;
    height: 100%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transform: translate(-1px, -1px);
}
button.accountButton.outline {
    background: transparent;
    color: #1155cc;
}
button.accountButton:hover {
    cursor: pointer;
    border-color: #0d3a8a;
    background: #0d3a8a;
    box-shadow: 0 0.25em 1em rgba(7, 55, 99, 0.25);
}
button.accountButton.outline:hover {
    background: #1155cc;
    border-color: #1155cc;
    color: white;
}
footer.footer.account-footer {
    background: transparent;
    color: gray;
}

/*collapsing nav with small width*/
@media (max-width: 45em) {
    nav.sidebar {
        width: 4em;
        text-align: center;
    }
    nav.sidebar ul li {
        padding-left: 1em;
        padding-right: 1em;
    }
    nav.sidebar ul li i.material-icons {
        margin-right: 0;
    }
    nav.sidebar ul li span {
        position: absolute;
        top: 50%;
        left: 100%;
        background: rgba(3, 28, 51, 0.9);
        color: white;
        padding: 0.4em 0.75em;
        border-radius: 5px;
        width: auto;
        box-shadow: 0 0.1em 0.5em rgba(7, 55, 99, 0.3);
        transform: translate(0.5em, -50%);
        opacity: 0;
        pointer-events: none;
        transition: 0.2s ease;
    }
    nav.sidebar ul li span::after {
        position: absolute;
        display: block;
        content: "";
        border: 0.4em solid transparent;
        border-right: 0.4em solid rgb(3, 28, 51, 0.9);
        left: -0.8em;
        top: 50%;
        transform: translateY(-50%);
    }
    nav.sidebar ul li a:hover span, nav.sidebar ul li a:focus span {
        opacity: 1;
    }
    nav.sidebar ul li:last-of-type::before {
        display: none;
    }
    .account-content {
        margin-left: 4em;
    }
}

/**DASHBOARD STYLING**/
#dashboardHead {
    padding-top: 4em;
}
.dashboard-card h2 {
    margin-top: 1em;
}
.dashboard-card {
    border-radius: 15px;
    background: white;
    padding: 1em 2em;
    margin: 1em;
    color: gray;
    box-shadow: 0 0.3em 0.7em rgba(7, 55, 99, 0.15);
}
/*two-column layout with larger screens*/
@media (min-width: 65em) {
    #dashboard-container {
        display: flex;
        padding: 0 10%;
    }
    #dashboard-container div.dashboard-column {
        flex-basis: 20%;
        flex-grow: 2;
    }
    #dashboard-container div.dashboard-column > div {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #dashboard-container div.dashboard-column > div:first-of-type {
        margin-top: 1em;
    }
    #dashboard-container div.dashboard-column > div:last-of-type {
        margin-bottom: 1em;
    }
    #dashboard-container div.dashboard-column.left {
        flex-grow: 1;
    }
}

/*connections styling*/
.connection {
    display: flex;
    align-items: center;
    margin: 0.25em 0;
    padding: 0.5em 1em;
    border-radius: 7px;
    transition: 0.2s ease;
}
.connection:hover {
    cursor: pointer;
    background: rgb(0, 0, 0, 0.05);
}
.connection img {
    width: 5em;
    height: 5em;
    width: calc(3em + 3vw);
    height: calc(3em + 3vw);
    max-width: 6em;
    max-height: 6em;
    margin-right: 1em;
}
.connection p {
    margin: 0.5em 0;
}
.connection p.connection-name {
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(7, 55, 99);
    margin-bottom: 0.25em;
}
.connection p.connection-description {
    margin-top: 0;
    font-size: 0.9em;
}
@media (max-width: 80em) and (min-width: 65em) {
    .connection {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1em 0;
    }
    .connection img {
        margin-right: 0;
    }
}

/*appointment div styling*/
#dashboard-appointment-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboard-appointment {
    flex-basis: 9em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    margin: calc(0.2em + 0.3vw);
    padding: 1em 0.5em;
    padding-top: 2em;
    border: 1px solid rgba(17, 85, 204, 0.2);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0.1em 1em rgba(17, 85, 204, 0.05);
}
.dashboard-appointment i.material-icons {
    position: relative;
    font-size: 2.5em;
    color: 	rgb(17, 85, 204);
}
.dashboard-appointment i.material-icons::after {
    position: absolute;
    display: block;
    content: "";
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    background: rgba(17, 85, 204, 0.08);
    border-radius: 50%;
}
.dashboard-appointment p.appointment-title {
    margin-bottom: 1.5em;
    font-weight: bold;
    color: rgb(7, 55, 99);
}
.dashboard-appointment p.appointment-date {
    font-size: 0.9em;
}
.dashboard-appointment p:last-of-type {
    margin-top: auto;
    margin-bottom: 0;
}

/*alerts styling*/
.alert {
    margin: 1em 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(17, 85, 204, 0.2);
}
.alert:first-of-type {
    margin-top: 0;
}
.alert:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
}
.alert i.material-icons {
    font-size: 2.5em;
    color: rgb(17, 85, 204);
}
.alert > div {
    margin-left: 1em;
}
p.alert-date {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(17, 85, 204, 0.7);
}
p.alert-date + p {
    margin-top: 0.1em;
}

/*treatment plan overview*/
#treatment-goal-arc {
    margin: 0 auto;
    flex-basis: 12em;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 13em;
    height: 13em;
    padding: 1em;
    text-align: center;
}
#treatment-goal-arc > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #1155cc;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: none;
}
#treatment-goal-arc p#goal-days {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    color: #1155cc;
    margin-bottom: 1em;
    margin-top: 0;
}
#treatment-goal-arc p#goal-days::after {
    content: "";
    display: block;
    position: absolute;
    width: 2em;
    height: 0.1em;
    background: rgb(240, 240, 240);
    bottom: -0.6em;
    left: 50%;
    transform: translateX(-50%);
}
#treatment-goal-arc p#goal-days + p {
    margin: 0;
    font-size: 0.9em;
}
#treatment-goal h3 {
    margin-bottom: 0.1em;
}
#treatment-goal h3 + * {
    margin-top: 0;
}
/*side by side or more vertical layout*/
@media (min-width: 95em), (min-width: 55em) and (max-width: 65em), (min-width: 40em) and (max-width: 45em) {
    #treatment-goal {
        display: flex;
        align-items: center;
    }
    #treatment-goal-arc {
        margin: 0 2em 0 0;
    }
    #treatment-goal-arc + div {
        flex-basis: 0;
        flex-grow: 1;
    }
}

/*tip of the day*/
p.tip {
    font-style: italic;
}


/**APPOINTMENTS PAGE**/
#appointment-container > div {
    margin: 1em;
}
#appointment-container button {
    padding: 0.65em 2.5em;
    font-size: 1em;
    border-radius: 2em;
    border: none;
    outline: none;
    transition: 0.2s ease;
}
#appointment-container button:hover {
    cursor: pointer;
}
#appointment-container #appointment-cont-heading {
    position: relative;
    display: flex;
    align-items: flex-end;
}
#appointment-container #appointment-cont-heading h2 {
    margin: 0;
    display: inline;
}
#scheduleApp {
    margin-left: auto;
}
@media (min-width: 65em) {
    #appointment-container {
        padding: 0 10%;
    }
}

/*upcoming*/
#appointment-upcoming div.appointment {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2em;
    padding: 2em calc(0.75em + 1vw);
    margin: 2em 0;
    background: white;
    border-radius: 15px;
    color: gray;
    box-shadow: 0 0.3em 0.7em rgba(7, 55, 99, 0.15);
}
#appointment-upcoming div.appointment > * {
    padding: 0 0.75em;
}
#appointment-upcoming div.appointment > p:first-of-type {
    flex-basis: 15%;
}
#appointment-upcoming .appointment-date {
    font-size: 1.5em;
    display: block;
    color: rgb(7, 55, 99);
}
#appointment-upcoming .appointment-time {
    font-size: 0.9em;
}

/*description and person*/
#appointment-upcoming div.appointment-text {
    margin-left: 2em;
    flex-basis: 40%;
    flex-grow: 2;
    display: flex;
}
#appointment-upcoming div.appointment-description {
    flex-basis: 60%;
    flex-grow: 2;
    margin-right: 2em;
}
#appointment-upcoming div.appointment-description p.appointment-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0;
    color: rgb(7, 55, 99);
}
#appointment-upcoming div.appointment-description p.appointment-title + p {
    margin-top: 0.25em;
}
#appointment-upcoming div.appointment-person {
    flex-basis: 30%;
    flex-grow: 1;
}
#appointment-upcoming div.appointment-person p.doctor-name {
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(7, 55, 99);
}
#appointment-upcoming div.appointment-person p.doctor-name + p {
    margin-top: 0;
    font-style: italic;
}

/*action buttons*/
#appointment-upcoming div.action-buttons {
    flex-basis: 30%;
    flex-grow: 2;
    text-align: right;
}
#appointment-upcoming div.action-buttons button {
    padding: 0.5em 2em;
    margin: 0.5em;
    border: 1px solid rgb(200, 200, 200);
}
#appointment-upcoming div.action-buttons button.cancel {
    border-color: rgb(199, 31, 31);
    color: rgb(199, 31, 31);
    background: rgb(199, 31, 31, 0);
}
#appointment-upcoming div.action-buttons button.meet {
    position: relative;
    background: rgba(17, 85, 204);
    border-color: rgba(17, 85, 204);
    color: white;
    pointer-events: none;
}
#appointment-upcoming div.action-buttons button.meet::after {
    position: absolute;
    display: block;
    content: "";
    background: rgba(155, 155, 155, 0.6);
    width: 100%;
    height: 100%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 0;
    left: 0;
    border-radius: 2em;
    transform: translate(-1px, -1px);
}
#appointment-upcoming div.action-buttons button.cancel:hover {
    background: rgb(199, 31, 31);
    color: white;
}

/*changing layout based on width*/
@media (min-width: 60em) and (max-width: 80em), (max-width: 40em) {
    #appointment-upcoming div.appointment-text {
        flex-direction: column;
        align-items: left;
        text-align: left;
    }
}
@media (min-width: 60em) and (max-width: 80em) {
    #appointment-upcoming div.appointment-description {
        border-bottom: 1px solid rgb(200, 200, 200);
    }
}
@media (max-width: 60em) {
    #appointment-upcoming div.appointment {
        display: block;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
    }
    #appointment-upcoming div.appointment-description {
        margin-right: 0;
    }
    #appointment-upcoming div.appointment-text {
        text-align: center;
        margin-left: 0;
    }
    #appointment-upcoming div.action-buttons {
        text-align: center;
    }
}
@media (min-width: 40em) and (max-width: 60em) {
    #appointment-upcoming div.appointment-text {
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1.5em;
    }
    #appointment-upcoming div.appointment-text::after {
        position: absolute;
        display: block;
        content: "";
        width: 1px;
        height: 80%;
        background: rgb(200, 200, 200);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #appointment-upcoming div.appointment-text > div {
        flex-basis: 50%;
        padding: 0 1em;
    }
}


/**CONVERSATION/CHAT PAGE STYLING**/
#conversations-page {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
#conversations-page nav.account-topNav {
    flex: 0 0 auto;
    position: relative;
}
#chat-content {
    position: relative;
    width: 100%;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 15em;
    flex: 1 1 50%;
}

/*people side*/
#chat-side {
    position: fixed;
    padding: 2em 1.5em;
    background: white;
    box-shadow: 0 0.3em 0.7em rgba(7, 55, 99, 0.15);
    width: 25%;
    height: 100%;
    color: gray;
    z-index: 2;
}
#chat-side h2 {
    margin-top: 0.5em;
    text-align: center;
}
#chat-side .chat-people {
    display: flex;
    align-items: center;
    margin: 1em 0;
    border-radius: 5px;
    transition: 0.2s ease;
    padding: 0.5em;
}
#chat-side .chat-people.active {
    background: rgba(7, 55, 99, 0.1);
    pointer-events: none;
}
#chat-side .chat-people:hover {
    cursor: pointer;
    background: rgb(0, 0, 0, 0.05);
}
#chat-side .chat-people p {
    margin: 0.25em 0;
}
#chat-side .chat-people img {
    width: 4em;
    height: 4em;
    margin-right: 1em;
}
#chat-side .chat-people .chat-name {
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(7, 55, 99);
}
#chat-side .chat-people .chat-name + p {
    margin-top: 0;
    font-size: 0.9em;
}
#chat-side .chat-people .last-message {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.5em
}

/*conversation side*/
#chat-container {
    position: relative;
    padding: 0;
    height: 100%;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
}
#chat-container .conversation {
    padding: 2.5em 2em;
    flex-grow: 1;
    overflow-y: auto;
}
#chat-container .conversation .conversation-back {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    transform: translate(-2em, -2.5em);
    padding: 0.75em 1em;
    padding-right: 2em;
    background: rgba(250, 250, 250);
    box-shadow: 0 0.2em 1em rgb(7, 55, 99, 0.3);
    width: 100vw;
    z-index: 2;
    display: none;
}
#chat-container .conversation .conversation-back .back-button {
    transition: 0.2s ease;
}
#chat-container .conversation .conversation-back .back-button:hover, #chat-container .conversation .conversation-back .back-button:focus {
    cursor: pointer;
    color: rgb(17, 85, 204);
}
#chat-container .conversation .conversation-back i {
    font-size: 1.5em;
    vertical-align: middle;
}
#chat-container .conversation .conversation-back > p {
    margin: 0;
    display: inline;
}
#chat-container .conversation .conversation-back > p.conversation-name {
    font-weight: bold;
    font-size: 1.3em;
    margin-left: auto;
}

/*styling messages*/
#chat-container .message {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 1em;
}
#chat-container .message img {
    width: 3em;
    height: 3em;
    margin-right: 2em;
    border-radius: 50%;
    box-shadow: 0 0.25em 1em rgba(15, 86, 153, 0.25);
}
#chat-container .message div.chat-text {
    position: relative;
    padding: 0.5em;
    border-radius: 5px;
    background: white;
    color: gray;
    box-shadow: 0 0.3em 0.7em rgba(7, 55, 99, 0.15);
}
#chat-container .message div.chat-text::after {
    position: absolute;
    content: "";
    display: block;
    border: 0.5em solid transparent;
    border-right: 0.6em solid white;
    top: 50%;
    transform: translate(-1.5em, -50%);
}
#chat-container .message div.chat-text p:first-of-type {
    margin-top: 0;
}
#chat-container .message div.chat-text p:last-of-type {
    margin-bottom: 0;
}
#chat-container .message .chat-text span.chat-msg-name {
    position: absolute;
    font-size: 0.75em;
    left: 0;
    bottom: -2em;
    color: rgba(7, 55, 99, 0.5);
}
#chat-container .message[data-chat-from = "other"] div.chat-text {
    color: white;
    background: rgb(7, 55, 99);
    box-shadow: 0 0.3em 0.7em rgba(7, 55, 99, 0.25);
}
#chat-container .message[data-chat-from = "other"] div.chat-text::after {
    border-right-color: rgb(7, 55, 99);
}
#chat-container .message[data-chat-from = "you"] div.chat-text::after {
    border-left: 0.6em solid white;
    border-right: 0.5em solid transparent;
    right: 0;
    transform: translate(1em, -50%);
}
#chat-container .message[data-chat-from = "you"] {
    width: 100%;
    text-align: right;
    justify-content: flex-end;
}
#chat-container .message.quickly-after {
    margin-left: 5em;
    margin-top: 0em;
}
#chat-container .message[data-chat-from = "you"].quickly-after {
    margin-left: 0;
    margin-top: 0.5em;
}
#chat-container .message.quickly-after div.chat-text::after {
    display: none;
}

/*time divider styling*/
#chat-container .time-divider {
    margin-top: 1em;
    position: relative;
    padding: 0.25em 0;
    text-align: center;
}
#chat-container .time-divider::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    background: rgba(7, 55, 99, 0.15);
    z-index: 0;
}
#chat-container .time-divider > span {
    position: relative;
    z-index: 1;
    background: rgb(239, 242, 247);
    padding: 0 1em;
    color: rgba(7, 55, 99, 0.5);
    font-size: 0.8em;
    font-weight: bold;
}

/*styling typing box*/
#chat-typing-box {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75em 1.5em 1.5em 1.5em;
    background: rgba(7, 55, 99, 0.15);
    box-shadow: 0 0.25em 1em rgba(15, 86, 153, 0.3);
    flex-grow: 0;
    z-index: 0;
}
#chat-typing-box > * {
    width: 100%;
}
#chat-typing-box #chatInput {
    outline: none;
    border: none;
    border-radius: 2em;
    background: rgb(250, 250, 250);
    box-shadow: 0 0.1em 1em rgba(15, 86, 153, 0.1);
    padding: 0.75em 1.5em;
    font-size: 1em;
    box-sizing: border-box;
    transition: 0.2s ease;
}
#chat-typing-box #chatInput:hover, #chat-typing-box #chatInput:focus {
    box-shadow: 0 0.15em 1em rgba(15, 86, 153, 0.3);
}
#chat-typing-box #chatInput::placeholder {
    opacity: 1;
    color: rgb(180, 180, 180);
}

/*responsive styling*/
@media (max-height: 35em) {
    #conversations-page nav.sidebar {
        overflow-y: scroll;
    }
    #chat-side {
        position: absolute;
        top: 0;
        overflow-y: auto;
    }
}
@media (max-width: 45em) {
    #chat-content {
        padding-left: 4em;
    }
}
@media (max-width: 40em), (min-width: 45em) and (max-width: 55em) {
    #chat-side {
        position: relative;
        width: 100%;
    }
    #chat-side .chat-people.active {
        pointer-events: auto;
        background: transparent;
    }
    #chat-side .chat-people.active:hover {
        background: rgba(0, 0, 0, 0.05);
    }
    #chat-container {
        background: rgb(239, 242, 247);
        margin-left: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        z-index: 60;
        transition: 0.7s ease;
    }
    #chat-container .conversation .conversation-back {
        display: flex;
    }
}
@media (max-width: 25em), (min-width: 40em) and (max-width: 45em), (min-width: 55em) and (max-width: 65em) {
    #chat-side .chat-people {
        flex-direction: column;
        text-align: center;
    }
    #chat-side .chat-people img {
        margin: 0 auto;
    }
}

/**EXPLORE PAGE**/
/*form styling*/
#exploreSearchForm {
    padding: 0 10%;
    text-align: center;
}
#exploreSearchForm input {
    font-family: "Lato", sans-serif;
    font-size: 1em;
}
#exploreSearchForm > div:first-of-type {
    margin: 1em auto;
    display: block;
    width: 90%;
    max-width: 35em;
    position: relative;
    text-align: center;
}
#exploreSearchForm > div:first-of-type i.material-icons {
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 0.7em;
    transform: translateY(-50%);
    color: gray;
    transition: 0.2s ease;
}
#exploreSearch {
    padding: 0.75em 1.5em;
    padding-left: 2.5em;
    outline: none;
    border: none;
    border-radius: 2em;
    box-sizing: border-box;
    box-shadow: 0 0.15em 1em rgba(7, 55, 99, 0.25);
    width: 100%;
    transition: 0.25s ease;
}
#exploreSearch:hover, #exploreSearch:focus {
    box-shadow: 0 0.25em 1em rgba(7, 55, 99, 0.4);
}
#exploreSearchForm input:focus + i.material-icons {
    color: rgb(7, 55, 99);
}
#exploreGo {
    margin: 1em auto;
    display: block;
}

/*explore search filters styling*/
#exploreSearchForm #exploreFilter {
    color: rgb(7, 55, 99);
    display: inline;
}
#exploreSearchForm div.filter-container {
    width: fit-content;
    display: inline;
}
#exploreSearchForm div.filter, #groupSize {
    display: inline-block;
    position: relative;
    margin: 0.5em 0.25em;
}
#exploreSearchForm div.filter:first-of-type {
    margin-left: 0.75em;
}
#exploreSearchForm div.filter:last-of-type {
    margin-right: 0.75em;
}
#exploreSearchForm div.filter span.filter-title {
    display: block;
    padding: 0.25em 2em;
    text-align: center;
    background: transparent;
    color: rgb(17, 85, 204);
    border-bottom: 1px solid rgb(17, 85, 204);
    position: relative;
    transition: 0.2s ease;
}
#exploreSearchForm div.filter span.filter-title:hover {
    cursor: pointer;
}
#exploreSearchForm div.filter span.filter-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5em;
    width: 0.4em;
    height: 0.4em;
    border-color: rgb(17, 85, 204);
    border-style: solid;
    border-width: 0 0 2.5px 2.5px;
    transform-origin: center;
    transform: translateY(-0.3em) rotate(-45deg);
    transition: 0.2s ease;
}
#exploreSearchForm div.filter form {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    background: white;
    text-align: left;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 0.15em 1em rgba(7, 55, 99, 0.25);
    display: none;
    opacity: 0;
    z-index: 5;
    transition: 0.3s ease;
}
#exploreSearchForm div.filter.active span.filter-title {
    background: rgb(17, 85, 204);
    color: white;
}
#exploreSearchForm div.filter.active span.filter-title::after {
    border-color: white;
    transform: translateY(-0.1em) rotate(135deg);
}
#exploreSearchForm div.filter form > label {
    display: block;
    margin: 0em 0.5em;
    margin-top: 0.75em;
    text-align: center;
}
#exploreSearchForm div.filter form .checkLi {
    display: flex;
    padding: 0.35em 0.5em;
    line-height: 1.25em;
    transition: 0.2s ease;
}
#exploreSearchForm div.filter form .checkLi:last-of-type {
    border-radius: inherit;
}
#exploreSearchForm div.filter form .checkLi:hover {
    background: rgba(7, 55, 99, 0.1);
}
#exploreSearchForm div.filter form .checkLi input {
    margin: 0;
    margin-top: 0;
    margin-right: 1.25em;
    transform: translateY(0.2em);
    transition: 0.2s ease;
    width: 0;
    height: 0;
}
#exploreSearchForm div.filter form .checkLi input::before { /*check mark*/
    display: block;
    position: absolute;
    content: "";
    width: 0.3em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    box-sizing: border-box;
    transform-origin: center;
    transform: translate(0.3em, 25%) rotate(45deg) scale(0);
    transition: inherit;
}
#exploreSearchForm div.filter form .checkLi input::after { /*styled box*/
    content: "";
    display: block;
    width: 0.75em;
    height: 0.75em;
    border-radius: 2px;
    border: 1px solid gray;
    background: transparent;
    transition: inherit;
}
#exploreSearchForm div.filter form .checkLi input:checked::after {
    background: rgb(31, 106, 236);
    border-color: rgb(31, 106, 236);
}
#exploreSearchForm div.filter form .checkLi input:checked::before {
    transform: translate(100%, 20%) rotate(45deg) scale(1);
}
#exploreSearchForm div.filter form .checkLi input:hover, #exploreSearchForm div.filter form .checkLi label:hover {
    cursor: pointer;
}
#exploreSearchForm div.filter form .checkLi label {
    flex-grow: 1;
}
#groupSize {
    color: rgb(7, 55, 99);
    margin-left: 1em;
    margin-right: 1em;
}
#groupSize form {
    display: inline;
}
#groupSize form input {
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid gray;
    transition: 0.2s ease;
    padding: 0.25em 0.5em;
    font-size: 0.85em;
}
#groupSize form input:focus {
    border-bottom-color: rgb(17, 85, 204);
}

/*no results div*/
#noSearchResults {
    text-align: center;
    color: rgb(7, 55, 99);
    padding: 10vh 0;
    display: none;
}

/*explore tabs*/
#exploreContent {
    margin-top: 4em;
    padding: 0 1em;
}
#exploreTabs {
    display: flex;
    justify-content: space-evenly;
}
#exploreTabs div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0.75em;
    color: rgb(7, 55, 99);
    transition: 0.2s ease;
}
#exploreTabs div.active {
    color: rgb(17, 85, 204);
    pointer-events: none;
}
#exploreTabs div::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px; 
    border-radius: 10px 10px 0 0;
    background:rgb(7, 55, 99);
    bottom: 0;
    opacity: 0;
    transition: inherit;
}
#exploreTabs div.active::after {
    background: rgb(17, 85, 204);
    opacity: 0.8;
}
#exploreTabs div:hover {
    cursor: pointer;
    color: rgb(15, 86, 153);
}
#exploreTabs div:hover::after {
    background: gb(15, 86, 153);
    opacity: 0.1;
}
#exploreTabs div i.material-icons {
    font-size: 1.5em;
}
#exploreTabs div p {
    display: inline;
    margin: 0;
    display: none;
}
@media (min-width: 65em) {
    #exploreContent {
        padding: 0 10%;
    }
    #exploreTabs div i.material-icons {
        display: none;
    }
    #exploreTabs div p {
        display: block;
    }
}

/*explore tabs content*/
.explorePage div.listing {
    background: white;
    border-radius: 15px;
    padding: 1em 2em;
    margin: 2em 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    box-shadow: 0 0.3em 0.7em rgba(7, 55, 99, 0.15);
}
@media (min-width: 40em) and (max-width: 45em), (min-width: 55em){ 
    .explorePage div.listing {
        flex-direction: row;
        text-align: left;
    }
}

/*recommended styling*/
div.listing.recommended {
    box-shadow: 0 0.1em 1.5em rgba(255, 217, 102, 0.25);
}
div.listing p.recommended, div.group.recommended div.group-description > p:first-of-type::after {
    display: inline-block;
    padding: 0.3em 1em;
    background: #ffd966;
    color: white;
    font-size: 0.9em;
    border-radius: 1em;
    margin-top: 0.5em;
}
div.group.recommended div.group-description > p:first-of-type::after {
    display: none;
    content: "Recommended";
    font-weight: normal;
    font-size: 0.69em;
}
@media (min-width: 40em) and (max-width: 45em), (min-width: 55em){
    div.counselor.recommended::after {
        position: absolute;
        top: 2em;
        right: 0;
        content: "Recommended";
        background: #ffd966;
        color: white;
        padding: 0.3em 0.75em;
        padding-left: 1.5em;
        border-radius: 1em 0 0 1em;
    }
    div.listing p.recommended {
        display: none;
    }
    div.group.recommended div.group-description > p:first-of-type::after {
        display: inline;
        margin-left: 1em;
    }
}

/*counselor styling*/
.counselor img {
    position: relative;
    width: 6em;
    height: 6em;
    flex-grow: 0;
}
.counselor .counselor-description p {
    margin: 0;
}
.counselor .counselor-description p:first-of-type {
    margin-top: 1em;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(7, 55, 99);
}
.counselor .counselor-description p:first-of-type + p {
    margin-top: 0.25em;
    color: rgb(7, 55, 99);
    font-style: italic;
}
.counselor .counselor-description p:last-of-type {
    margin: 1em 0;
}
.counselor .accountButton {
    margin: 0.25em 0.5em;
}
.counselor div.buttons {
    padding-bottom: 0.75em;
}
@media (min-width: 40em){
    .counselor img {
        margin-right: 2em;
    }
    .counselor .counselor-description {
        flex-grow: 2;
        margin-right: 1em;
    }
    .counselor .accountButton:first-of-type {
        margin-left: 0;
    }
    .counselor .accountButton:last-of-type {
        margin-right: 0;
    }
}

/*groups styling*/
.explorePage div.group {
    padding: 2em 4em;
    align-items: start;
}
.group .group-description p {
    margin: 0;
}
.group .group-description > p:first-of-type {
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(7, 55, 99);
}
.group .group-description > p:first-of-type + p {
    margin-top: 0.25em;
    color:rgb(7, 55, 99);
}
.group .group-description .group-info {
    margin: 1em 0;
}
.group .group-description .group-info p {
    margin: 0.25em 0;
}
.group .group-description .group-info p:first-of-type {
    margin-top: 0;
}
.group .group-description .group-info p:last-of-type {
    margin-bottom: 0;
}
.group .group-description .group-info p > i.material-icons {
    vertical-align: middle;
    line-height: inherit;
    font-size: 1.3em;
    margin-right: 0.25em;
}
.group .group-description .group-info .group-focus p {
    display: inline;
    margin: 0.25em 0.25em;
    line-height: 2em;
}
.group .group-description .group-info .group-focus p:first-of-type {
    margin-right: 0.25em;
}
.group .group-description .group-info .group-focus p.focus {
    padding: 0.25em 0.75em;
    border-radius: 1em;
    background:rgba(7, 55, 99, 0.5);
    color: white;
}
.group div.buttons {
    margin-top: 1em;
    width: 100%;
}
@media (min-width: 60em) {
    .group .group-description .group-info {
        display: flex;
        justify-content: space-between;
    }
    .group .group-description .group-info .group-focus {
        margin-left: 2em;
    }
}
@media (min-width: 40em) and (max-width: 45em), (min-width: 55em) {
    .explorePage div.group {
        flex-direction: row;
        text-align: left;
    }
    .group .group-description {
        margin-right: 1em;
    }
    .group div.buttons {
        margin-top: 0;
        margin-left: 1em;
        width: auto;
    }
}

/*event styling*/
.explorePage div.event {
    padding: 0;
    position: relative;
}
.explorePage div.event div.imgWrapper {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    flex-basis: 25%;
    flex-shrink: 0;
    align-self: stretch;
}
.explorePage div.event .event-description {
    padding: 2.5em 2em;
}
.explorePage div.event .event-description p:first-of-type {
    font-size: 1.3em;
    color:rgb(7, 55, 99);
    font-weight: bold;
    margin: 0;
}
.explorePage div.event .event-description p:first-of-type + p {
    margin-top: 0.25em;
    color: rgb(7, 55, 99);
}
.explorePage div.event .event-description .event-date {
    color: rgb(7, 55, 99);
}
.explorePage div.event .event-description .event-date span.event-time {
    color: gray;
    margin-left: 0.5em;
    font-style: italic;
    font-size: 0.9em;
}
.explorePage div.event .event-description .event-date i.material-icons {
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 0.25em;
}
.explorePage div.event .event-description button {
    margin-top: 0.75em;
}
@media (min-width: 40em) and (max-width: 45em), (min-width: 55em) {
    .explorePage div.event div.imgWrapper {
        border-radius: 15px 0 0 15px;
        padding-bottom: 0;
        height: auto;
    }
}