/*modal styling*/
#symptomsPopup {
  max-width: 30em;
  text-align: left;
  color: gray;
  position: relative;
}
@media (max-height: 40em){
  #symptomsPopup {
    top: 0;
    left: 0;
    margin: 15vh auto;
    transform: none;
  }
  #popupMask {
    overflow: auto;
  }
}
#symptomsPopup h2 {
  margin-top: 1em;
  color: rgb(7, 55, 99);
}
#symptomsPopup #closePopup { /*x-out button*/
  font-size: 1.5em;
  color: gray;
  float: right;
  transition: 0.2s ease;
}
#symptomsPopup #closePopup::after {
  clear: both;
  content: "";
  display: table;
}
#symptomsPopup #closePopup:hover {
  cursor: pointer;
  color: rgb(7, 55, 99);
}
#symptomsPopup form label {
  position: relative;
  display: block;
  padding: 0.2em;
  padding-left: 1.75em;
  transition: 0.2s ease;
}
#symptomsPopup form label:hover {
  background: rgba(7, 55, 99, 0.1);
}
#symptomsPopup form input {
  position: absolute;
  margin: 0;
  margin-top: 0;
  width: 0;
  height: 0;
}
#symptomsPopup form input + div.checkbox::before { /*check mark*/
  display: block;
  position: absolute;
  content: "";
  width: 0.3em;
  height: 0.5em;
  top: 0;
  left: 0;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-sizing: border-box;
  transform-origin: center;
  transform: translate(70%, 5%) rotate(45deg) scale(0);
  transition: inherit;
}
#symptomsPopup form div.checkbox { /*styled box*/
  position: absolute;
  top: 50%;
  left: 0.5em;
  width: 0.75em;
  height: 0.75em;
  transform: translateY(-50%);
  transition: 0.2s ease;
  border-radius: 2px;
  border: 1px solid gray;
  background: transparent;
  transition: inherit;
}
#symptomsPopup form input:checked + div.checkbox {
  background: rgb(31, 106, 236);
  border-color: rgb(31, 106, 236);
}
#symptomsPopup form input:checked + div.checkbox::before {
  transform: translate(70%, 5%) rotate(45deg) scale(1);
}
#symptomsPopup form input:hover, #symptomsPopup form label:hover {
  cursor: pointer;
}
#symptomsPopup #settings-submit {
  margin-top: 1em;
}

/*more info div styling*/
div.info {
  position: relative;
  display: inline;
  margin-left: 0.5em;
  padding: 0.1em 0.25em;
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(150, 150, 150);
  transition: 0.2s ease;
}
div.info::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  border: 2px solid rgba(200, 200, 200, 0.8);
  transform: translate(-50%, -50%);
  transition: inherit;
}
div.info div.tooltip {
  display: block;
  min-width: 14em;
  font-weight: normal;
  box-shadow: 0 0.25em 1.2em rgba(7, 55, 99, 0.3);
}
div.info:hover, div.info:focus {
  cursor: pointer;
  color: rgb(31, 106, 236);
}
div.info:hover::after, div.info:focus::after {
  border-color: rgba(17, 85, 204, 0.75);
}
div.info:hover div.tooltip, div.info:focus div.tooltip {
  opacity: 1;
}

/*ACCOUNT INFO*/
.account-info {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease;
}
.account-info img {
    width: 5em;
    height: 5em;
    width: calc(3em + 3vw);
    height: calc(3em + 3vw);
    max-width: 6em;
    max-height: 6em;
    margin-right: 1.75em;
    border-radius: 50%;
    box-shadow: 0 0.25em 1.25em rgba(7, 55, 99, 0.3);
}
.account-info p {
    margin: 0.5em 0;
}
.account-info p.account-name {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1em;
    color: rgb(7, 55, 99);
    margin-bottom: 0.25em;
    font-family: "Comfortaa";
}
.account-info p.account-email {
    margin-top: 0;
}
.account-name::after {
  content: "Member";
  display: inline-block;
  margin-left: 1em;
  padding: 0.1em 1.2em;
  border-radius: 1.5em;
  background-color: rgba(123, 69, 181, 0.5);
  color: white;
  font-size: 0.5em;
  font-weight: bold;
}
@media (max-width: 80em) and (min-width: 65em), (max-width: 40em) {
    .account-info {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1em 0;
    }
    .account-info img {
        margin: 0 auto;
    }
    .account-name::after {
      display: table;
      margin: 0 auto;
      margin-top: 0.5em;
    }
}

/*inputs general styling*/
.dashboard-card input, .dashboard-card textarea {
  display: block;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  border: 1px solid rgba(7, 55, 99, 0.25);
  box-shadow: 0 0 1em rgba(7, 55, 99, 0);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5em 1em;
  max-width: 100%;
  transition: 0.2s ease;
}
.dashboard-card textarea {
  resize: none;
}
.dashboard-card input:hover, .dashboard-card textarea:hover {
  border-color: rgba(17, 85, 204, 0.5);
  box-shadow: 0 0.15em 1em rgba(7, 55, 99, 0.1);
}
.dashboard-card input:focus, .dashboard-card textarea:focus {
  border-color: rgba(17, 85, 204, 0.75);
  box-shadow: 0 0.15em 1em rgba(7, 55, 99, 0.1);
}
.settings-info > div {
  margin: 1.5em 0;
}
.settings-info div label {
  display: block;
  line-height: 1em;
  margin-bottom: 0.5em;
}
.settings-info div input {
  width: 100%;
  min-width: 6em;
}
.settings-info button {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/*account info div*/
#accountInfo #password-cont {
  position: relative;
}
#accountInfo #password-cont:hover input#password:not(:focus) {
  border-color: rgba(17, 85, 204, 0.5);
  box-shadow: 0 0.15em 1em rgba(7, 55, 99, 0.1);
}
#accountInfo input#password {
  padding-right: 1.5em;
}
#accountInfo input#password + i.material-icons {
  font-size: 1.5em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translate(0, -50%);
  color: rgba(7, 55, 99, 0.25);
  transition: 0.2s ease;
}
#accountInfo input#password + i.material-icons:hover {
  cursor: pointer;
  color: rgba(17, 85, 204, 0.5);
}
#accountInfo label.sublabel {
  margin-top: 1em;
  font-size: 0.8em;
}
#accountInfo #addressDiv #state {
  text-transform: uppercase;
}
@media (min-width: 40em) and (max-width: 65em), (min-width: 80em) {
  #accountInfo label.sublabel {
    margin-top: 0;
  }
  #accountInfo #addressDiv {
    display: flex;
  }
  #accountInfo #addressDiv + label.sublabel {
    margin-top: 1em;
  }
  #accountInfo #addressDiv > div {
    margin: 0 0.5em;
  }
  #accountInfo #addressDiv > div:first-of-type {
    margin-left: 0;
  }
  #accountInfo #addressDiv > div:last-of-type {
    margin-right: 0;
  }
  #accountInfo #addressDiv input {
    flex: 1 1 0;
    min-width: 0;
  }
}

/*personal info*/
#personalInfo textarea {
  width: 100%;
  min-height: 10em;
}
#personalInfo #bioAfter {
  margin-top: 0.5em;
  font-size: 0.8em;
}

/*notes*/
#settings-button {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#notesDiv h2 {
  margin-bottom: 0.5em;
}
#notesDiv h2 + ul {
  margin-top: 0;
}

/*plans styling*/
.plan {
  display: flex;
  align-items: flex-start;
  margin: 1.5em 0;
}
.plan i.material-icons {
  position: relative;
  font-size: 2em;
  color: rgb(17, 85, 204);
  margin-right: 0.75em;
  vertical-align: middle;
  z-index: 2;
}
.plan i.material-icons::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(17, 85, 204, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: -1;
}
.plan i.material-icons + div > p:first-child {
  font-size: 1.1em;
  color: rgb(7, 55, 99);
  font-weight: bold;
  display: inline;
  margin-bottom: 0;
}
.plan i.material-icons + div > p:first-child + p {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
.plan i.material-icons + div > p:last-child {
  font-style: italic;
  margin-top: 0;
}
@media (min-width: 65em) and (max-width: 85em), (max-width: 30em) {
  .plan {
    flex-direction: column;
    text-align: center;
  }
  .plan i.material-icons { 
    margin: 0 auto;
    display: block;
    margin-bottom: 0.5em;
  }
}
